@font-face {
    font-family: pixel;
    src: url('./font/dogicapixel.ttf');
}

@font-face {
    font-family: bebas-neue;
    src: url('./font/BebasNeue-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'bebas-neue', serif;
}

/* Style the header */
.header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

.side-column {
    background-color: #ffffff;
    text-align: center;
}

#recordsList {
}

.record_list_element {
    text-align: left;
}

i {
    margin-left: 10px;
}

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

/* Style the footer */
.footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

#main-canvas {
    border:1px solid #000000;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
